
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  }

  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
      text-decoration: none;
      color: inherit;
      margin: 0.125rem;
  }
  
  /* NAVBAR */
  
  .navbar {
    background-color: #461d17;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 104px;
  }
  
  .navbar__logo {
    max-width: 200px;
  }
  
  .navbar__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .navbar__nav {
    font-size: 1.125rem;
    color: #fff;
    display: flex;
  }
  

.navbar__nav > li {
    margin: 0 1rem;
    font-weight: bold;
  }

  .header { 
    min-height: 80vh;
    width: 100%;
    background-size:cover;
    background-image: url(../img/jaqueline-banner.png);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .container {
    max-width: 78rem;
    margin: 0 auto;
  }

  .header-title {
    font-size: 5rem;
    color: #C59C96;
    text-align: center;

  }

  h2 {
    font-size:2rem;
    text-align: center;
    margin: 2rem 8rem 2rem 10rem;

    color: #461d17;
  }

  #intro {
    margin-bottom: 8rem;
  }

  .intro-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    background-color:#F8EAE4;
    box-shadow: 1.5rem 1.5rem #CD9164;
    width: 65rem;
  }

  .intro-content img{
    width: 20%;
    height: 25%;
    margin-top: 2rem;
    margin-left: 5rem;
    border-radius: 1rem;
  }

  .intro-paragraph {
    margin: 2rem;
    width: 697px;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  blockquote {
    font-size: 3rem;
    font-weight: bold;
    border: 0.0625rem solid #CD9164;
    color: #461d17;
    padding: 2.25rem;
    line-height: 50px;
    margin: 3rem auto;
    width: 1178px;
    text-align: center;
  }

  #history {
    margin-top: 8rem;
  }

  .history-content{
    margin-left: 2rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    display: flex;
  }

  .history-content p {
    margin-right: 8rem;
    text-align: justify;
  }

  h3 {
    color: #461d17;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  iframe {
    margin-top: 8rem;
  }

  #author {
    margin-top: 2rem;
    background-color: #C59C96;
    height: 10rem;
  }

  .author-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  img {
    border-radius: 50%;
    width: 10%;
    margin-top: 1.5rem;
    
  }
  

  /* -------------------------------------------------------------------------------- */
  
  
  /* HEADER */
  
  
  
  
  /* --- BOTAO --- */
    
  
  
  
  /* SECAO Maravilhosa */
  
  
  
  /* AUTORA */
  

  
  
  /* FOOTER */
  
  
  /* MEDIA QUERY */
  