* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

:root {
  --cor-primaria: #674582;
  --raio-da-borda: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

/* NAVBAR */

.navbar {
  
  background-color: var(--cor-primaria) ;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 104px;
}

.navbar__logo {
  max-width: 200px;
}

.navbar__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.navbar__nav {
  font-size: 18px;
  color: #fff;
  display: flex;
}

.navbar__nav > li {
  margin: 0 16px;
  font-weight: bold;
}

.navbar__nav--hamburguer {
  display: none;
}
/* -------------------------------------------------------------------------------- */

/* HEADER */
.header {
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-image: url(../img/foto-horizinte.jpg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 3em;
  padding-bottom: 20px;
  color: #fff;
  background-position: center 35%;
}

/* --- BOTAO --- */

/* SECAO Maravilhosa */

.container {
  max-width: 1260px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 36px auto;
}

h3 {
  font-size: 1.5em;
}

.minibio {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  /* max-width: 954px; */
}

.minibio-imagem {
  width: 15%;
  /* height: 280px; */
  /* background-color: #674582; */
  border-radius: var(--raio-da-borda);
  margin-right: 48px;
}

.img-responsive {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.minibio p {
  width: 80%;
  font-size: 1.25em;
}

/* citacao */

.citacao {
  margin: 1em;
  font-size: 1.5em;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-radius: var(--raio-da-borda);
}

.citacao::before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.01em;
  /* margin-right: 0.25em; */
  vertical-align: -0.4em;
}


.citacao p {
  font-style: italic;
  display: inline;
} 

.artigo p {
  font-size: 1.25em;
  text-align: justify;

}

.img__artigo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
}

.img__artigo img {
  max-width: 80%;
  border-radius: var(--raio-da-borda);
}

/* AUTORA */

.autora {
  background-color: #c083b9;
  height: 260px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.autora-container {
  max-width: flex;
  height: inherit;
}

.autora-img {
  height: inherit;
  max-width: 260px;
}

.autora-info {
  display: flex;
  flex-direction: column;
}

/* FOOTER */
.rodape {
  background-color: #323534;
  color: white;
}

.rodape__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape__principal > * {
  margin: 16px 0;
}

.rodape__navegacao > li {
  font-size: 14px;
  margin: 8px;
}

.rodape__navegacao a {
  transition: all 0.5s;
}

.rodape__navegacao a:hover {
  color: #c083b9;
}

.rodape__logo {
  max-width: 200px;
  align-items: center;
  justify-content: center;
}

.rodape__cc {
  width: 100%;
  background-color: #292a2a;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
  padding: 10px;
}


.nav-header {
  display: none;

}
/* MEDIA QUERY */

@media screen and (max-width: 1260px){
  .container {
    max-width: 1024px;

  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .minibio {
    flex-wrap: wrap;
    justify-content: center;
  }

  .minibio-imagem {
    margin: auto;
    min-width: 300px;
  }
  
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 425px;
  }
  
  .navbar__nav {
    display: none;
  }

  .navbar__nav--hamburguer {
    display: block;
  }
  
}